* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    width: 90%;
    height: 10vh;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    border-bottom: 2px solid #581d22;
}

h1 {
    color: #581d22;
    margin: 10px;
    font-size: 50px;
    flex: 1;
}

header H3 {
    color: color #413f54;
    margin: 10px;
    font-size: 38px;
    flex: 1;
}

main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #581d22; */
}

section {
    flex: 5;
}

.desc-photo {
    display: none;
}

aside {
    flex: 1;
}

.right-photo {
    height: 80vh;
}

.personal-photo {
    height: 100%;
    z-index: -1;
}


/*
color #581d22 marsala
color #413f54 darkish gray
color #AAAABB lght gray
color #357266 greenish
color #202c39 textColor dark gray
 */