* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
color #581d22 marsala
color #413f54 darkish gray
color #AAAABB lght gray
color #357266 greenish
color #202c39 textColor dark gray
 */