.visible {
    display: block;
}

.invisible {
    display: none;
}

.desc-photo {
    display: none;
}

.portfolio {
    display: none;
}

.contact {
    display: none;
}

.technologies {
    display: none;
}