$marsala : #581d22;
$darkGray : #413f54;
$lgtGray : #AAAABB;
$green : #357266;
$baseText: #202c39;

.small-paragraph {
    font-size: 20px;
    line-height: 30px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}